@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto";
}

ul li {
    list-style: none;
}

nav {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    color: black;
}

footer {
    color: bisque;
}